<div class="controls-side">
	  <h2>{{pizza.name +' Pizza'}} </h2>
	<h3 >{{price | currency:'USD':true:'.2'}}</h3>  
	
	<select name = quantity (change)="updateQuantity($event.target.value)">
	  <option>1</option>
	  <option>2</option>
	  <option>3</option>
	  <option>4</option>
	  <option>5</option>
	</select>
	
	  <select (change)="onChange($event.target.value)">
		  <option>Large</option>
		  <option>Medium</option>
	  </select> 

     
	 <Button (click)="addToOrder(pizza)">Add To Order</Button>
	 </div>
	 	<div class="mdl-cell mdl-cell-4-col img-side"><img src="{{pizzaImg}}"></div> 
       


