
<body class="mdl-layout mdl-js-layout mdl-layout--fixedheader ">
	<header class="mdl-layout__header">
		<div class="mdl-layout__header-row ">
			<button class="mdl-button mdl-js-button" mat-button
				[matMenuTriggerFor]="menu">Menu</button>
			<!-- drop down menu -->
			<mat-menu #menu="matMenu">
			<button mat-menu-item>Item 1</button>
			<button mat-menu-item>Item 2</button>
			</mat-menu>
			<button class="mdl-button mdl-js-button">deals</button>
			<div class="mdl-layout-spacer"></div>
			<a routerLink=''><img src="{{headerLogo}}"> </a>
			<div class="mdl-layout-spacer"></div>
			<a routerLink="/order"><i
				class="material-icons order-icon mdl-badge"
				attr.data-badge={{cartSubject.getValue()}} style="color: white">shopping_cart</i></a>
		</div>
	</header>


	<main class="mdl-layout__content mdl-js-layout"
		style="margin: 0px 100px;">
		<router-outlet></router-outlet>
	</main>

</body>
